node_modules
.DS_Store
dist
dist-ssr
*.local
/build/*.p8
/build/JWT.js
/build/Legacy.js
/build/JWT.ts
/build/Legacy.ts
/build/pkg-scripts
/build/bin
/build/bin/arm
/build/bin/x86
!/build/bin/arm/postinstall.sh
!/build/bin/x86/postinstall.sh
/build/afterPack.js
/build/log
/build/generate-secrets.sh
/build/DevIDAPP.p12
/electron
/release
/icon.sh
app-update.yml
.idea
/test.js
/static/brew
yarn-error.log
/test
.vscode/settings.json
src/main/lang/index.ts
/data
package-lock.json
