server
{
    listen {ServerPort}#;
    listen {ServerSSLPort}# ssl;
    server_name {ServerAlias};
    index index.php index.html index.htm default.php default.htm default.html;
    root "{ServerRoot}";

    ssl_certificate    "{ServerSSLCert}";
    ssl_certificate_key    "{ServerSSLKey}";
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:HIGH:!aNULL:!MD5:!RC4:!DHE;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;

    #PHP-INFO-START
    include enable-php.conf;
    #PHP-INFO-END

    #REWRITE-START URL rewrite rule reference, modifying this will invalidate the pseudo-static rules set in the panel
    include {RewritePath}/{ServerName}.conf;
    #REWRITE-END

    #Files or directories forbidden from access
    location ~ ^/(\.user.ini|\.htaccess|\.git|\.svn|\.project|LICENSE|README.md)
    {
        return 404;
    }

    #Settings related to the directory for one-click SSL certificate verification
    location ~ \.well-known{
        allow all;
    }

    location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
    {
        expires      30d;
        error_log off;
        access_log /dev/null;
    }

    location ~ .*\.(js|css)?$
    {
        expires      12h;
        error_log off;
        access_log /dev/null;
    }
    access_log  {LogPath}/{ServerName}.log;
    error_log  {LogPath}/{ServerName}.error.log;
}
