server
{
    listen #Port_Nginx#;
    server_name #Server_Alias#;
    index index.php index.html index.htm default.php default.htm default.html;
    root "#Server_Root#";

    #PHP-INFO-START
    include enable-php.conf;
    #PHP-INFO-END

    #REWRITE-START URL rewrite rule reference, modifying this will invalidate the pseudo-static rules set in the panel
    include "#Rewrite_Path#/#Server_Name#.conf";
    #REWRITE-END

    #Files or directories forbidden from access
    location ~ ^/(\.user.ini|\.htaccess|\.git|\.svn|\.project|LICENSE|README.md)
    {
        return 404;
    }

    #Settings related to the directory for one-click SSL certificate verification
    location ~ \.well-known{
        allow all;
    }

    location ~ .*\.(gif|jpg|jpeg|png|bmp|swf)$
    {
        expires      30d;
        error_log off;
        access_log /dev/null;
    }

    location ~ .*\.(js|css)?$
    {
        expires      12h;
        error_log off;
        access_log /dev/null;
    }
    access_log  #Log_Path#/#Server_Name#.log;
    error_log  #Log_Path#/#Server_Name#.error.log;
}
